<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Smokes</td><td>GuestOrder_PartyLite_CAEN_Smoke_TC3.createGuestOrder(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:framework.test.GuestOrder_PartyLite_CAEN_Smoke_TC3@7a765367]<br/></td></tr>
<tr><td>eShop</td><td>GuestOrder_PartyLite_CAEN_Smoke_TC3.createGuestOrder(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:framework.test.GuestOrder_PartyLite_CAEN_Smoke_TC3@7a765367]<br/></td></tr>
</table>
