<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite-FullSmokeTest</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7bafac">  <td>21/10/04 23:43:09</td>   <td>0</td> <td title="&gt;&gt;Class_initEcomPrac.beforeSuite()[pri:0, instance:framework.test.GuestOrder_PartyLite_CAEN_Smoke_TC3@7a765367]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2050835901</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>21/10/04 23:43:09</td>   <td>217</td> <td>&nbsp;</td><td title="&gt;&gt;Class_initEcomPrac.populatePropCountry(java.lang.String)[pri:0, instance:framework.test.GuestOrder_PartyLite_CAEN_Smoke_TC3@7a765367]">&gt;&gt;populatePropCountry</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@813701187</td>   <td></td> </tr>
<tr bgcolor="6b6398">  <td>21/10/04 23:43:09</td>   <td>221</td> <td>&nbsp;</td><td title="&gt;&gt;GuestOrder_PartyLite_CAEN_Smoke_TC3.setDataGO(java.lang.String)[pri:0, instance:framework.test.GuestOrder_PartyLite_CAEN_Smoke_TC3@7a765367]">&gt;&gt;setDataGO</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@813701187</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>21/10/04 23:43:09</td>   <td>236</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Class_initEcomPrac.beforeClass()[pri:0, instance:framework.test.GuestOrder_PartyLite_CAEN_Smoke_TC3@7a765367]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@813701187</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>21/10/04 23:43:10</td>   <td>1580</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Class_initEcomPrac.beforeMethod(java.lang.String)[pri:0, instance:framework.test.GuestOrder_PartyLite_CAEN_Smoke_TC3@7a765367]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@813701187</td>   <td></td> </tr>
<tr bgcolor="6b6398">  <td>21/10/04 23:43:26</td>   <td>16903</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GuestOrder_PartyLite_CAEN_Smoke_TC3.createGuestOrder(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:framework.test.GuestOrder_PartyLite_CAEN_Smoke_TC3@7a765367]">createGuestOrder</td> 
  <td>TestNG-tests-1@813701187</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>21/10/04 23:46:29</td>   <td>200173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Class_initEcomPrac.afterMethod()[pri:0, instance:framework.test.GuestOrder_PartyLite_CAEN_Smoke_TC3@7a765367]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@813701187</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>21/10/04 23:46:30</td>   <td>201547</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Class_initEcomPrac.markExtentReportWithTestNGFailStatus(org.testng.ITestResult)[pri:0, instance:framework.test.GuestOrder_PartyLite_CAEN_Smoke_TC3@7a765367]">&lt;&lt;markExtentReportWithTestNGFailStatus</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@813701187</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>21/10/04 23:46:30</td>   <td>201599</td> <td title="&lt;&lt;Class_initEcomPrac.afterSuite()[pri:0, instance:framework.test.GuestOrder_PartyLite_CAEN_Smoke_TC3@7a765367]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2050835901</td>   <td></td> </tr>
</table>
