<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83967b">  <td>21/09/21 17:27:16</td>   <td>0</td> <td title="&gt;&gt;Class_initEcomPrac.beforeSuite()[pri:0, instance:framework.test.LoggedInCustomerOrder_PartyLite_Smoke_TC2@30a3107a]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@640363654</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>21/09/21 17:27:16</td>   <td>143</td> <td>&nbsp;</td><td title="&gt;&gt;LoggedInCustomerOrder_PartyLite_Smoke_TC2.setDataLCO(java.lang.String)[pri:0, instance:framework.test.LoggedInCustomerOrder_PartyLite_Smoke_TC2@30a3107a]">&gt;&gt;setDataLCO</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="83967b">  <td>21/09/21 17:27:16</td>   <td>157</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Class_initEcomPrac.beforeClass()[pri:0, instance:framework.test.LoggedInCustomerOrder_PartyLite_Smoke_TC2@30a3107a]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="83967b">  <td>21/09/21 17:27:16</td>   <td>204</td> <td title="&lt;&lt;Class_initEcomPrac.afterSuite()[pri:0, instance:framework.test.LoggedInCustomerOrder_PartyLite_Smoke_TC2@30a3107a]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
